/* Image classes */
.unselected {
    opacity: 0.2;
    height: 125px;
    width: 125px;

  }

.selected {
    opacity: 1.0;
    height: 125px;
    width: 125px;
    outline-width: 5px;
    outline-style: solid;
    outline-color: black;
    outline-offset: -5px;
    }

.shapeCard{

}
